* {
  box-sizing: border-box;
}

.App {
  margin-top: 10%;
  margin: 5%;
  display: flex;
  flex-direction: column;
}

.lists{
  display: flex;
  justify-content: space-between;
}

.list{
  border-radius: 15px;
  text-align: left;
  padding: 1vw;
  padding-right: 1vw;
  width: 32%;
}

.list h2{
  margin-top: 0;
  font-size: 1.3vw;
}

.task{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  border-radius: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vw;
}

.actions{
  display: flex;
  flex-direction: column;
}

.actions button{
  background-color: transparent;
  margin: 0%;
  padding: 0;
}

button{
  font-size: larger;
  border: none;
  border-radius: 9px;
  margin-bottom: 2%;
  padding: 1vw;
  float: right;
  cursor: pointer;
}


#newTaskModal{
  width: 50%;
  height: max-content;
  background-color: bisque;
  box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.32);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  position: fixed;
  top: 20%;
}

#newTaskModal label, input, textarea{
  width: 70%;
  font-size: x-large;
}

#newTaskModal button:first-child{
  width: min-content;
  align-self: flex-end;
}

#newTaskModal button:last-child{
  width: 25%;
}

#newTaskModal input, textarea{
  margin-bottom: 1vw;
  border-radius: 9px;
  padding: 0.4vw;
  font-size: large;
  border: 2px black solid;
}
