.App {
  margin-top: 15%;
}

.lists{
  display: flex;
  justify-content: center;
}

.list{
  /* background-color: antiquewhite; */
  border-radius: 15px;
  margin: 0 1%;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 25%;
}

.list h2{
  margin-top: 0;
}


.task{
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}